/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: auto;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Các class dùng chung */

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.content-section {
    width: 800px;
    max-width: 100%; /* Nếu kích thước màn nhỏ hơn thì tự động lấy 100% */
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1{
    width: 100%;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 33.3333%;
}

.btn{
    font-size: 15px;
    padding: 8px 16px;
    background-color: #000;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: inline-block;
    color: #fff;
    border: 0.5px solid #ccc;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
}

.pull-right{
    float: right !important;
}

/*mt = margin-top*/
.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.font-white{
    color: #fff!important;
}

.open{
    display: flex !important;
}

/* 1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết */

/* 1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng */

#header{
    width: 100%;
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    color: white;
    text-transform: uppercase;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a{
    color: #000;
    
}

#nav li:hover {
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    background-color: #fff;
}

.nav-arrow-down{
    font-size: 14px;
}

.subnav li{
    background-color: white;
    width: 100%;
}

.subnav li a{
    color: black;
    line-height: 38px;
    display: inline-block;
    text-decoration: none;
    min-width: 160px;
    padding: 0px 41px;
}

#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0 23px;
}

#header .mobile-menu-btn {
    float: right;
    color: #fff;
    padding: 13.5px 15px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn {
    display: none;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .search-icon{
    color: white;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(../slider/slider1.jpg) top center / contain no-repeat;
    position: relative;
}

#slider .slider-content{
    position: absolute;
    bottom: 32px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .slider-description{
    padding: 15px;
    text-shadow: 0 0 1px #000;
}

#slider .slider-heading{
    font-weight: 500;
}

#about .section-heading,
#tour .section-heading,
#contact .section-heading{
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    font-weight: 400;
    letter-spacing: 5px;
}

#about .section-sub-heading,
#tour .section-sub-heading,
#contact .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}


#about .about-description{
    text-align: justify;
    font-size: 15px;
}

#about .band-member-name{
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
    line-height: 22px;
}
#about .about-member-image{
    padding-top: 60%;
    background: url(../img/band-member.jpg) top center / contain no-repeat;
    width: 60%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

#contain-tour{
    background-color: #000;
}

#tour .section-heading{
    margin-top: 0;
}

#tour .tour-tickets{
    background-color: #fff;
    margin: 15px 0;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#tour .tour-tickets li{
    padding: 8px 16px;
    color: #757575;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
}

#tour .tour-tickets .sold-out{
    background-color: #f44336;
    margin-left: 12px;
    padding: 4px 8px
}

#tour .section-sub-heading{
    margin: 24px 0;
}

#tour .quanlity-left{
    float: right;
    background-color: #000;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-top: 1px;
    margin-right: 16px
}

#tour-place {
    margin-top: 16px;
}

#tour-place .place-image {
    width: 100%;
    background-color: #000;
}

#tour-place .place-image:hover{
    opacity: 0.6;
}

#tour-place .place-info {
    padding: 0 16px;
    background-color: #fff;
    padding-bottom: 16px;
}

#tour-place .place-name{
    font-size: 15px;
    margin: 0 0 15px 0;
    line-height: 18px;
    font-weight: bolder;
    padding-top: 15px;
}

#tour-place .place-time{
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.6;
    line-height: 22px;
}

#tour-place .place-decs{
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.5;
}

#modal{
    position: fixed;
    width: 100%;
    background-color: rgba(104, 93, 93, 0.596);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#modal .modal-container{
    width: 900px;
    min-height: 200px;
    max-width: calc(100% -32px);
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.4s;   
}

#modal .close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 17.5px;
    color: #fff;
    opacity: 0.8;
}

#modal .close-btn:hover{
    background-color: #ccc;
    color: #000;
    opacity: 1;
    cursor: pointer;
}

#modal .modal-header{
    background-color: #009688;
    padding: 47px 16px;
    text-align: center;
    font-size: 30px;
}

#modal .modal-body{
    padding: 0 16px;
}

#modal .icon-bag{
    margin-right: 8px;
}

#modal #tickets{
    display: inline-block;
    letter-spacing: 4px;
}

#modal .modal-label{
    margin: 20px 0 6px 0;
    display: block;
}

#modal .modal-input{
    display: block;
    width: 100%;
    padding: 9.5px 8px;
    font-size: 15px;
}

#modal #pay-button{
    background-color: #009688;
    width: 100%;
    font-size: 15px;
    margin: 16px 0;
    padding: 16.5px;
}

#modal .modal-footer {
    text-align: right;
    margin-bottom: 16px;
}

#modal .modal-footer a {
    color: #2196F3;
}

.contact-container {
    margin-top: 48px;
    
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info a {
    color: #0000ef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

#contact .contact-form{
    line-height: 3px;
}

#contact .contact-form .form-control {
    border: 1px solid #ccc;
    padding: 12px 8px;
    width: 100%;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social {
    font-size: 24px;
}

#footer .social a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-230px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}